<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parcel Vanilla App</title>
    <link rel="stylesheet" href="style.scss">
    <script type="module" src="index.js"></script>
  </head>
  <body>

    include _slider.pug
    <h1>New web site</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa consequuntur possimus, aperiam sed ut blanditiis repellendus qui natus aspernatur asperiores assumenda nisi laborum necessitatibus ab molestiae cupiditate ex tempora numquam.</p>


  </body>
</html>
